@import "tailwindcss";


@theme {
  --font-mont: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(243 244 246);
  
  @apply font-mont;

}
